#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#colorType {
    font-size: large;
    font-weight: 700;
    margin: 70px;
}

#colorCombination {
    font-size: large;
    font-weight: 700;
    margin: 50px;
}

