body {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    margin: auto;
    background-color: rgb(206, 202, 221);
}

#wrapper button{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: 20%;
    align-self: center;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #6887c0;
    border: 4px solid black;
}

#plusbtn {
    display: flex;
    justify-content: space-around;
}

#ans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}